.search-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  border-bottom: 1px solid #424242;
  position: relative;
}

.search-form__form {
  max-width: 1140px;
  width: 100%;
  height: 72px;
  margin: 70px auto 69px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #222222;
  border-radius: 9px 0 0 9px;
}

.search-form__icon {
  width: 34px;
  height: 34px;
  margin: 19px 8px 19px 19px;
  object-fit: cover;
}

.search-form__input {
  background-color: #222222;
  border: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #8b8b8b;
  max-width: 750px;
  width: 100%;
}

.search-form__input:hover {
  opacity: 0.6;
  cursor: pointer;
}

.search-form__button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: #222222;
  margin-left: 46px;
  border-right: 1px solid #505050;
  padding-right: 19px;
}

.search-form__button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.search-form__switch {
  position: relative;
  display: inline-block;
  min-width: 36px;
  height: 20px;
  margin-left: 29px;
  z-index: 1;
}

.search-form__switch:hover {
  opacity: 0.6;
  cursor: pointer;
}

.search-form__switch input {
  display: none;
}

.search-form__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #505050;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.search-form__slider:before {
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 2px;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .search-form__slider {
  background-color: #3ddc84;
}

input:focus + .search-form__slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .search-form__slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(13px);
}

.search-form__short-film {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #fff;
  margin: 0 30px 0 14px;
}

.search-form__short {
  max-width: 226px;
  width: 100%;
  height: 72px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #222222;
  border-radius: 0 9px 9px 0;
}

.search-form__error {
  position: absolute;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #ee3465;
  bottom: 50px;
}

@media screen and (max-width: 768px) {
  .search-form__form {
    margin: 80px auto 108px;
  }

  .search-form__short-film {
    margin: 0 20px 0 17px;
  }

  .search-form__switch {
    margin-left: 17px;
  }

  .search-form__short {
    margin: 80px auto 108px;
    max-width: 207px;
  }

  .search-form__error {
    bottom: 90px;
  }
}

@media screen and (max-width: 605px) {
  .search-form {
    flex-wrap: wrap;
    padding-bottom: 18px;
  }

  .search-form__form {
    margin: 80px auto 20px;
    border-radius: 9px;
  }

  .search-form__short-film {
    margin: 0 20px 0 17px;
  }

  .search-form__switch {
    margin-left: 28px;
  }

  .search-form__input {
    max-width: 500px;
  }

  .search-form__button {
    border-right: none;
  }

  .search-form__icon {
    display: none;
  }

  .search-form__input {
    font-size: 14px;
    line-height: 20px;
    margin-left: 18px;
  }

  .search-form__short-film {
    font-size: 11px;
    line-height: 18px;
    margin: 0 0 0 14px;
  }

  .search-form__short {
    background-color: #202020;
    margin: 0 auto;
  }
}
