.about-project {
  margin: 110px 70px;
  max-width: 1140px;
  height: 388px;
  display: flex;
  flex-direction: column;
}

.about-project__title {
  height: 65px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26.63px;
  letter-spacing: -0.04em;
  color: #fff;
  border-bottom: 1px solid #545454;
  margin: 0;
}

.about-project__info {
  height: 270px;
  display: flex;
  flex-direction: row;
  margin: 70px 0 0 0;
  column-gap: 51px;
}

.about-project__info-title {
  max-width: 550px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24.2px;
  letter-spacing: -0.04em;
  color: #fff;
  margin: 0;
}

.about-project__info-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  margin-top: 26px;
}

.about-project__diagram {
  display: flex;
  flex-direction: row;
  max-width: 1140px;
}

.about-project__diagram-back {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.about-project__diagram-backcolor {
  width: 228px;
  height: 36px;
  background-color: #3ddc84;
}

.about-project__diagram-front {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.about-project__diagram-frontcolor {
  height: 36px;
  background-color: #303030;
}

.about-project__diagram-backtext {
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  color: #000;
  margin: 9px 0;
}

.about-project__diagram-name {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #8b8b8b;
  margin: 14px 0 0 0;
}

.about-project__diagram-fronttext {
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  color: #fff;
  margin: 9px 0;
}

@media screen and (max-width: 768px) {
  .about-project {
    margin: 90px 50px;
    max-width: 668px;
    height: 405px;
  }
  .about-project__info {
    height: 270px;
    column-gap: 40px;
  }

  .about-project__info-text {
    font-size: 12px;
    line-height: 18px;
    margin-top: 22px;
  }

  .about-project__diagram-backcolor {
    width: 140px;
  }
}

@media screen and (max-width: 320px) {
  .about-project {
    margin: 70px 18px;
    max-width: 284px;
    height: 502px;
  }

  .about-project__info {
    height: 405px;
    display: flex;
    flex-direction: column;
  }

  .about-project__info-text {
    font-size: 11px;
    line-height: 16px;
  }

  .about-project__diagram-backtext {
    font-size: 11px;
    line-height: 13px;
    margin-top: 13px;
  }

  .about-project__diagram-name {
    font-size: 11px;
    line-height: 13px;
    margin-top: 10px;
  }

  .about-project__diagram-fronttext {
    font-size: 11px;
    line-height: 13px;
    margin-top: 13px;
  }

  .about-project__diagram-backcolor {
    width: 100px;
  }

  .about-project__title {
    font-size: 18px;
    line-height: 21.78px;
    height: 50px;
  }

  .about-project__info-title {
    font-size: 18px;
    line-height: 22px;
    margin-top: -10px;
  }

  .about-project__info-text {
    font-size: 12px;
    line-height: 18px;
    margin-top: 16px;
    font-size: 11px;
    line-height: 16px;
  }

  .about-project__info-time {
    margin-top: 55px;
  }

  .about-project__diagram {
    margin-top: -85px;
  }
}
