.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
}

.login__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 396px;
}

.login__logo {
  width: 38px;
}

.login__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #fff;
  margin: 40px 0 38px;
}

.login__input {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
}

.login__label {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #8b8b8b;
  margin-bottom: 10px;
}

.login__input-text {
  background-color: #2f2f2f;
  border-radius: 8px;
  border: none;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #fff;
  max-width: 379px;
  width: 100%;
  height: 46px;
  padding-left: 15px;
}

.login__input-text:hover {
  opacity: 0.6;
  cursor: pointer;
}

.login__button {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  width: 100%;
  height: 45px;
  margin: 158px 0 3px;
  background-color: #4285f4;
  border: none;
  border-radius: 3px;
}

.login__button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.login__question {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #8b8b8b;
  text-align: center;
  margin-bottom: 70px;
}

.login__question-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #4285f4;
  text-decoration: none;
  margin-left: 6px;
}

@media screen and (max-width: 768px) {
  .login {
    margin-top: 232px;
  }

  .login__question {
    margin-bottom: 232px;
  }

  .login__title {
    margin: 36px 0 39px;
  }
}

@media screen and (max-width: 605px) {
  .login {
    margin-top: 56px;
  }

  .login__container {
    align-items: center;
    min-width: 260px;
  }

  .login__title {
    margin: 47px 0 80px;
  }

  .login__form {
    width: 100%;
  }
  .login__question {
    margin-bottom: 30px;
  }

  .login__input-text {
    max-width: 243px;
  }

  .login__button {
    margin: 248px 0 1px;
    font-size: 12px;
    line-height: 15px;
  }

  .login__question {
    font-size: 12px;
    line-height: 15px;
  }

  .login__question-link {
    font-size: 12px;
    line-height: 15px;
  }
}
